* {
    margin:0; padding:0; box-sizing:border-box;
}
html, body, p, section {
    width:100%; height:100%;
    position: relative;
}
p, div {
    position: absolute;
    width:50%; height:50%;
    background:gray;
    bottom:0; right:0;
}
div {
    border-bottom-right-radius: 3vmin;
    overflow: hidden;
    background:green;
}
span{
    pointer-events: none;
}
section{
    border-radius:3vmin;
    box-shadow:0 16px 32px rgba(0,0,0,0.1);
    background:white;
    width:50%; height:50%;
    position:absolute;
    top:50%; left:50%; transform:translate(-50%, -50%);
}

main {
    position:absolute;
    width:50%;
    height:50%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    user-select:none;
    touch-action:none;
    border:1px solid black;
}
